.hero,
.secone,
.sectwo,
.secthree,
.secfour,
.sdf {
  border-bottom: 7px solid rgb(78, 78, 78);
}
.hero {
  background-image: url(/img/background.jpg);
  height: 720px;
}
.ab {
  background-color: red;
  color: white;
  padding: 4px 12px;
}
#lang {
  background-color: black;
  color: white;
  padding: 4px 12px;
}
.hdiv {
  height: 635px;
}
.hero-txt {
  font-size: 4rem;
  font-weight: 750px;
  color: white;
}
.hero-min {
  font-size: 1.45rem;
  font-weight: 450px;
  color: white;
}
.def {
  background-color: red;
  color: white;
  padding: 10px 70px;
  font-size: 25px;
}
.xyz {
  padding: 16px 200px;
}
hr {
  border: 10px solid rgb(53, 52, 52);
}
.cw {
  color: white;
}
.sd {
  height: 450px;
  background-color: black;
}
.xx {
  margin-top: 150px;
}
.tvw {
  position: relative;
  z-index: 2;
}
.sacredimg {
  position: absolute;
  top: 40px;
  left: 220px;
  width: 300px;
  height: 200px;
  z-index: -1;
}
#tvimg {
  position: relative;
}
.qq {
  background-color: black;
  border: 1px solid gray;

  width: fit-content;
  border-radius: 12px;
  position: absolute;
  top: 260px;
  left: 250px;
}
.tv {
  position: relative;
  z-index: 2;
}
.vid {
  position: absolute;
  height: 200px;

  width: 350px;

  top: 90px;
  left: 200px;
  z-index: -1;
}
.as {
  background-color: black;
  color: white;
}
.sdf {
  height: 850px;
  background-color: black;
}
.xef {
  margin: 0;
  background-color: black;
  color: white;
}
.hero-minwin {
  font-size: 1.15rem;
  font-weight: 450px;
  color: rgb(82, 79, 79);
}
.ques {
  margin: 10px;
}
.mno {
  background-color: rgb(93, 91, 91);
  color: white;
}
.footersec {
  height: 400px;
  background-color: black;
  padding: 50px;
}
.foot li {
  list-style: none;
}
.foot li a {
  text-decoration: none;
  color: rgb(93, 92, 92);
}
